

<div class="container h-100">
  <div class="justify-content-center align-items-center">
   <div class="row">
     <div class="col-12 mb-2">
        <button type="button" class="btn btn-primary float-right d-block" [routerLink]="['/home/create']">Create</button>
     </div>
   </div>
    <div class="card text-left mb-2" *ngFor="let item of dataList" [routerLink]="['/home/detail',item.id]" routerLinkActive="router-link-active" >
      <div class="card-body">
        <h4 class="card-title">{{item.title}}</h4>
        <div class="row">
            <div class="col mr-auto">
                <p class="card-text">{{item.text}}</p>
            </div>
            <div class="col-auto">
                <p class="card-text">author :
                  <span *ngIf="item.is_anonymous">anonymous</span>
                  <span *ngIf="!item.is_anonymous">{{item.author}}</span>
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
